PG_PORT=55432
MYSQL_PORT=53306
MSSQL_PORT=51433
WEB_PORT=8088
APP_PORT=8080
ESCOLES_PORT=8090
PG_ADMIN_PASSWORD=Veciana_PgAdmin_2026!Lab
MYSQL_ADMIN_PASSWORD=Veciana_MyAdmin_2026!Lab
MSSQL_ADMIN_PASSWORD=Veciana_SqlAdmin_2026!Lab
LAB_PASSWORD=Veciana_Cambios_2026!Lab
READER_PASSWORD=Veciana_Lectura_2026!Lab
